.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  img { 
    width: 50%;
    height: 30%;
    
    
    
  }  

p {
 
 text-align:center;
 font-weight: bolder;
 font-size: 25px;
 font-family: 'Segoe Script';
 
}



body{
    height: 100%;
    background-color: rgb(237, 231, 231);
    text-align:center;
    bottom: 10%;
    align-items: center;
    justify-content: center;
}

input{
    width: 25%;
    height: 10%;
    padding: 1px;
    outline: none;
    border: 1px solid rgb(4, 86, 10);
    border-radius: 20px;
}

div.background{
    opacity: 0.5;
}

  
  

